.sidebar {
  position: relative;
  align-items: center;
  background-color: #3f0340;
  border-top: #522653 1px solid;
  max-width: 244px;
  min-height: calc(100vh - 55px);
  color: rgba(255, 255, 255, 0.7);

  .sidebar-header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: #522653 1px solid;
    padding: 0 16px 0 12px;
    .sidebar-infor {
      flex: 1;
      h2 {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 5px;
      }
      h3 {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 23.94px;
        color: #ffffff;
      }
    }
    .sidebar-edit {
      padding: 8px;
      background-color: white;
      border-radius: 100px;
      color: #522653;
      font-size: 18px;
    }
  }

  .sidebar-body {
    max-width: 244px;
    padding-bottom: 50px;

    .sidebar-body-cate {
      padding: 12px 8px 12px 8px;
      border-bottom: #522653 1px solid;

      .sidebar-item {
        display: flex;
        padding: 5px 10px 5px 12px;
        gap: 8px;
        align-items: center;
      }

      h4 {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
      }
    }

    .sidebar-body-channels {
      padding: 12px 8px 0 8px;

      .sidebar-item {
        display: flex;
        align-items: center;
        padding: 2px 12px 2px 12px;
        gap: 8px;
      }
    }

    .sidebar-body-messages {
      padding: 12px 8px 0 8px;

      .sidebar-item {
        display: flex;
        align-items: center;
        padding: 2px 16px 2px 12px;
        gap: 8px;

        p {
          opacity: 0.7;
        }
        .item-user {
          position: relative;

          .item-user-status {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7px;
            height: 7px;
            bottom: -2px;
            right: -2px;
            border-radius: 50%;
            background-color: #3f0340;
          }
        }
      }
    }

    .sidebar-body-apps {
      padding: 12px 8px 12px 8px;

      .sidebar-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 16px 2px 12px;

        .item-app {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .sidebar-app_noti {
          width: 25px;
          height: 18px;
          background-color: #ece7ec;
          border-radius: 100px;
          gap: 4px;
          padding: 0 9px 1px 9px;
          color: #3f0340;
          font-size: 12px;
          line-height: 18px;
          font-weight: 700;
          align-items: center;
        }
      }
    }
  }

  .sidebar-footer {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background-color: #3f0340;
    width: 244px;
    border-top: 1px #522653 solid;
    border-radius: 12px 12px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 12px 12px;

    .sidebar-footer-profile {
      display: flex;
      align-items: center;
      padding: 2px 8px 2px 8px;
      gap: 4px;

      h3 {
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;
      }
    }

    .sidebar-footer-status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 48px;
      height: 24px;
      border-radius: 100px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 5px 6px 5px 6px;
      gap: 4;

      .elipse {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.item-header {
  display: flex;
  align-items: center;
  padding: 2px 16px 2px 8px;
  gap: 4px;
  img {
    padding: 0 0px 0 3px;
  }
}

.sidebar-add_channels {
  display: flex;
  align-items: center;
  padding: 2px 10px 2px 12px;
  gap: 8px;
  .add-channels {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #522653;
    border-radius: 4px;
  }
}

.sidebar-active {
  display: flex;
  padding: 0 16px 0 12px;
  border-radius: 6px;
  background: #1164a3;
}
